body {
  font-family: Arial;
}

.tab-content {
  margin-left: 30px;
  margin-right: 20px;
  margin-top: 20px;
}

.popover > .popover-content {
  width: 400px;
}

.popover:not(.is-popover-active):hover .popover-content {
  opacity: 0;
  visibility: hidden;
}

.sidebar {
  transition: flex 0.3s ease-in-out;

  .tab-content {
    transition: opacity 0.1s ease-in-out 0.2s;
    opacity: 1;
  }

  overflow: hidden;
  flex: 0.5;

  &.hidden {
    transition: flex 0.3s ease-in-out 0.1s;
    flex: 0.0001;

    .tab-content {
      opacity: 0;
      transition: opacity 0.1s ease-in-out;
    }
  }

  &.no-pagination {
    .story__list {
      height: 70vh;
    }
  }
}
